<!DOCTYPE html>
<html>
  <head>
    <title>Ticketee</title>
    <%= csrf_meta_tags %>
  

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <% flash.each do |key, value| %>
	<divclass='flash'id='<%= key%>'>
		<%= value %>
	</div>
   <% end%
    <%= yield %>
  </body>
</html>
